body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-family: "PTSans", "Arial", sans-serif;
    text-transform: uppercase;
    background: #f2f2f2;
}

@font-face {
    font-family: "PTSans";
    src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");

}
@font-face {
    font-family: "PTSans";
    font-weight: 700;
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}
a {
    text-decoration: none;
}

main {
    background: #fff;
}

.site-navigation {
    padding-right: 40px;
    line-height: 26px;
    font-weight: bold;
    list-style: none;
    background-color: #ffffff;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover {
    color: #5496bd;
}

.site-navigation a:active {
    color: #b2b2b2;
}

.welcome-intro {
    height: 630px;
    background-image: url("../img/intro.jpg");
    background-position: 50% center;
    background-repeat: no-repeat;
}

.features  {
    list-style: none;
    background: #fff;
}

.visually-hidden {
    display: none;
}

.features-tip1 {
    display: block;
    width: 440px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
    color: #000000;
    margin-top: -75px;
    -webkit-transform: translateX(2%);
    -ms-transform: translateX(2%);
    transform: translateX(2%);

}

.features-tip2 {
    display: block;
    width: 489px;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    margin-top: 28px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 36px;
    color: #333333;
    -webkit-transform: translateX(3%);
    -ms-transform: translateX(3%);
    transform: translateX(3%);
}

.features-part1,
.features-part2{
    text-align: center;
}


.features-city-wrapper1 h3 {
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
}

.number-blue {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
}

.number-blue::before {
    content: '—';
    margin-right: 5px;
}

.number-blue::after {
    content: '—';
    margin-left: 5px;
}

.number {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.number::before {
    content: '—';
    margin-right: 5px;
}

.number::after {
    content: '—';
    margin-left: 5px;
}

.features-paragraph {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}

.gallery-content1 {
    width: 800px;
    height: 256px;
    background: url("../img/city.jpg");
}

.gallery-content2 {
    width: 800px;
    height: 256px;
    background: url("../img/canyon.jpg");
}

.main-features {
    text-align: center;
    line-height: 21px;
    padding-top: 60px;
    padding-left: 73px;
}

.main-features .item-house {
    background: url("../img/icon-1.svg") no-repeat;
}

.main-features .item-eat {
    background: url("../img/icon-2.svg") no-repeat;
}

.main-features .item-souvenir {
    background: url("../img/icon-3.svg") no-repeat;
}

.item-house,
.item-souvenir {
    height: 75px;
    margin: auto;
    width: 75px;
}
.item-eat {
    height: 75px;
    margin: auto;
    width: 73px;
}

.main-features h3{
    text-align: center;
    line-height: 21px;
    font-weight: bold;
    font-size: 21px;
    color: #000000;
}

.main-features p{
    text-align: center;
    line-height: 21px;
    font-size: 14px;
    color: #333333;
}


.features-part2 h3 {
    text-align: center;
    line-height: 21px;
    font-weight: bold;
    font-size: 21px;
    color: #ffffff;
    margin-top: 50px;
}

.features-part2 .main-features {
    background-color: #eeeeee;
}

.features-part2 .number {
    color: #000000;
}

.main-features2 {
    background-color: #eeeeee ;
}

.appointment {
    background: #fff;
}

.appointment b {
    line-height: 36px;
    font-weight: bold;
    font-size: 30px;
    color: #000000;
}
.appointment p {
    display: block;
    width: 436px;
    line-height: 24px;
    font-size: 14px;
    color: #333333;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 52px;
}
button {
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

button:hover,
button:focus,
button:active {
    background-color: #967f70;
}

.minus,
.plus {
    color: #a9a9a9;
    width: 40px;
    height: 40px;
    font: inherit;
    background-color: #f2f2f2;
    border: none;
    outline: none;
    font-weight: bold;
}
.minus:hover,
.minus:focus,
.plus:hover,
.plus:focus {
    color: #000000;
    background-color: #f2f2f2;
}
.minus:active,
.plus:active  {
    color: #81b3d2;
    background-color: #f2f2f2;
}

.hotel-search {
    width: 568px;
    height: 86px;
    background-color: #766357;
    border: none;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.hotel-search:hover {
    background-color: #604e43;;
}

.hotel-search:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}


.button-search {
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    border: none;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.button-search:hover,
.button-search:focus {
    color: #ffffff;
    background-color: #669ec0;
}

.button-search:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.appointment-info label,
.appointment-info input {
    font-weight: bold;
}


.appointment-info input {
    font: inherit;
    background-color: #f2f2f2;
    border: none;
    outline: none;
    width: 346px;
    height: 38px;
}

input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}

input[name="max-price"]::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 14px;
    line-height: 26px;
    font-weight: 100;
}

input[name="min-price"]::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 14px;
    line-height: 26px;
    font-weight: 100;
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

input:focus::-moz-placeholder {
    color: transparent
}

input:focus:-moz-placeholder {
    color: transparent
}

input:focus:-ms-input-placeholder {
    color: transparent
}

.appointment-info input.adult,
.appointment-info input.kid {
    width: 38px;
    height: 38px;
}
.appointment-info input:hover,
.appointment-info input:active {
    background-color: #ebebeb;
}


.appointment-info input:focus {
    background-color: #ffffff;
}

input.date-in,
input.date-out {
    position: relative;
}

input.date-in:before,
input.date-out:before {
    content: "";
    position: absolute;
    top: 9px;
    right: 8px;
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 21px;
    height: 22px;
}
input.adult,
input.kid {
    text-align: center;
    color: #a9a9a9;
    width: 40px;
    height: 40px;
    font: inherit;
    background-color: #f2f2f2;
    border: none;
    outline: none;
}

input.adult:hover,
input.kid:hover,
input.adult:active,
input.kid:active {

}

input[name="kid"],
input[name="adult"]{
    width: 38px;
    height: 38px;
    padding: 0;

}

.tag {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    color: #000000;
}
.tag:hover,
.tag:focus {
    color: #ffffff;
    background-color: #81b3d2;
}

.footer-social {
    text-align: center;
}
/* Тут не получается */
.footer-social a{
    width: 46px;
    height: 48px;

}
.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.footer-copyright {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    margin-right: 5px;
}

.logo-html {
    margin-top:  10px;
}

.logo-html:hover {
    fill: #5496bd;
}

.logo-html:active {
    fill: #000;
    opacity: .5;
}

.site:hover {
    color: #81b3d2;
}

.site:active {
    color: rgba(255, 255, 255, 0.3);
}


.filter {
    color: #ffffff;
    line-height: 21px;

}

.filter fieldset {
    display: block;
    border: none;
}

.filter legend {
    font-size: 16px;
    font-weight: bold;
}
.filter ul {
    list-style: none;
}

.visually-hidden {
    visibility: hidden;
}

.filter-option {
    display: block;
    position: relative;
    padding-left: 45px;
    font-size: 14px;
    cursor: pointer;
}

.filter-option:disabled {
    color: #6a6a6a;
}

.filter-option input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 27px;
    height: 23px;

    background: url("../img/checkbox-on.svg");
}

.filter-option input[type="checkbox"]:disabled + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 23px;
    height: 23px;

    background: url("../img/checkbox-on.svg");
    fill: #6a6a6a;
}

.filter-option input[type="checkbox"]:checked + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 23px;
    height: 23px;

    background: url("../img/checkbox-off.svg");
}


.filter-range {
    width: 330px;
    color: #ffffff;
    margin-top: 27px;
}

.filter-range-title {
    margin-bottom: 15px;
    line-height: 21px;
    font-weight: 600;
    font-size: 16px;
}

.price-controls {
    position: relative;
    border: 2px solid #ffffff;
    height: 32px;
    border-radius: 5px;
    font-size: 0;
    margin-bottom: 20px;
}

.price-controls::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.price-controls label{
    display: inline-block;
    font-size: 14px;
    line-height: 31px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    background: transparent;
    color: inherit;
    font: inherit;
    border: none;
    outline: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow:  0 2px 1px 0 rgba(0, 1, 1, 0.2);
    box-shadow:  0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #669ec0;
    width: 4px;
    height: 4px;
    border: 9px solid #ffffff;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.filter-button {
    display: block;
    width: 133px;
    height: 32px;
    border: 2px solid #ffffff;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    background-color: transparent;
    margin: 0 auto;
}

.filter-button:hover,
.filter-button:focus{
    color: #000000;
    background-color: #ffffff;
}
.sort {
    color: #000000;
}

.sort b{
    font-size: 21px;
    line-height: 26px;
}



.sort-types {
    font-size: 12px;
    line-height: 18px;
    text-align: left;
}

.sort-types a{
    border-bottom: 1px solid #81b3d2;
    border-bottom-style: dashed;
    color: rgba(0, 0, 0, 0.3);
}

.sort-types a:hover,
.sort-types a:focus  {
    color: #81b3d2;
    border: none;
}

.sort-types a:active {
    color: #000000;
    border: none;
}

.sort-wrappper2 .active-price {
    color: #81b3d2;
    border: none;
}

.triangle-button {
    display: block;
    width: 10px;
    height: 10px;
}

.triangle-button-up {

    fill: #cacaca;
}

.triangle-button-down {
    fill: #cacaca;
}

.triangle-button:hover,
.triangle-button:focus {
    fill: #000;
}
.triangle-button:active {
    fill: #81b3d2;
}

.triangle-button-down {
    margin-left: 12px;
    fill: #81b3d2;
}

.catalog h3 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    color: #000000;
}

.catalog h3:hover {
    color: #81b3d2;
}

.catalog h3:active {
    color: rgba(0, 0, 0, 0.3);
}
.catalog .hotel-type,
.catalog .hotel-price{
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: #333333;
}

.rating-item {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #666666;
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
    padding: 5px 10px;
}

.more {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
    width: 111px;
    height: 27px;
    margin-right: 6px;
}

.more:hover,
.more:focus {
    background-color: #669ec0;
}
.more:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.reserve {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #766357;
    width: 142px;
    height: 27px;
}

.reserve:hover,
.reserve:focus {
    background-color: #604e43;
}

.reserve:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.stars-wrapper {
    margin-bottom: 40px;
    margin-left: auto;
}

.star {
    fill: #81b3d2;
}


/*Для сеток*/
.container {
    width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);

}

.container-main {
    background: #fff;
}

.main-footer {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1200px;
    margin-left: auto ;
    margin-right: auto ;
    padding-top: 36px;
    padding-bottom: 36px;
    background: #fff;

}

.header-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-navigation-wrapper {
    position: relative;
    width: 100%;
    min-height: 56px;
    background-color: #ffffff;
}

.logo {
    position: absolute;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 138px;
    height: 70px;
    z-index: 2;
}

.site-navigation {
    padding-top: 15px;
    margin: 0 auto;
    padding-bottom: 0;
    width: 1200px;
    list-style: none;
    box-sizing: border-box;
}


.site-navigation .active {
    color: #766357;
}


.header-navigation-wrapper .site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.site-navigation li{
    width: 20%;
    text-align: center;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2){
    text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4){
    text-align: right;
}

.features-part1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.features-city-wrapper1 {
    width: 400px;
    min-height: 256px;
    background-color: #81b3d2;


}

.features-city-wrapper2 {
    width: 800px;
    min-height: 256px;
}

.main-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    margin-top: 60px;
    margin-bottom: 70px;
}

.main-features .feature-item {
    width: 400px;
    min-height: 300px;
}

.features-part2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.features-bridge-wrapper1 {
    background-color: #81b3d2;
    width: 400px;
    height: 256px;
}

.features-bridge-wrapper2 {
    width: 800px;
    height: 256px;
}

.main-features2 {
    height: 256px;
    margin-top: 0;
    margin-bottom: 57px;
    padding-left: 69px;
    padding-right: 69px;
}

.main-features2 .features-item {

    margin-top: 27px;
    width: 33.3%;
}
.features-item:nth-child(2) {
    padding-left: 140px;
    padding-right: 140px;

}
.appointment-wrapper8 {
    position: absolute;
    display: block;
    width: 568px;
    height: 395px;
    -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
    background: #ffffff;
    padding: 55px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: strench 0.5s;
    animation: strench 0.5s;
}

.modal-close {
    display: none;
}

.modal-error {
    -webkit-animation: shake 0.6s;
    animation: shake 0.6s;
}

.appointment-wrapper2 {
    display: flex;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 29px;
}

.appointment-wrapper2 label{
    margin-right: 19px;
}

.appointment-wrapper2 input,
.appointment-wrapper3 input {
    padding-left: 14px;
    padding-right: 52px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.appointment-wrapper3 {
    display: flex;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 29px;
}

.appointment-wrapper3 label {
    margin-right: 16px;
}


.calendar {
    position: absolute;
    top: 9px;
    right: 8px;
}

.calendar:hover {
    fill: #81b3d2;
}


.appointment-wrapper7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 54px;
}

.appointment-wrapper4 {
    position: relative;
}

.appointment-wrapper4 label {
    display: block;
    margin-top: 8px;
    margin-right: 80px;
}

.appointment-wrapper4 input {
    position: absolute;
    top: 0;
    left: 150px;
}

.appointment-wrapper4 .minus {
    position: absolute;
    font-size: 30px;
    top: 0;
    left: 110px;
}

.appointment-wrapper4 .plus {
    position: absolute;
    font-size: 21px;
    top: 0;
    left: 187px;
}

.appointment-wrapper5 {
    position: absolute;
    left: 285px;
}

.appointment-wrapper5 label {
    display: block;
    margin-top: 8px;
    margin-left: 50px;
}

.appointment-wrapper5 input {
    position: absolute;
    top: 0;
    left: 150px;
}

.appointment-wrapper5 .minus {
    position: absolute;
    font-size: 30px;
    top: 0;
    left: 110px;
}

.appointment-wrapper5 .plus {
    position: absolute;
    font-size: 21px;
    top: 0;
    left: 187px;
}


.appointment-wrapper9 {
    position: relative;
    text-align: center;
}


.map {
    height: 593px;
    background-image: url("../img/map.jpg");
    background-position: 50% center;
    background-repeat: no-repeat;
}


.opacity {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: -120px;
}

.tag-wrapper {
    margin: 0;
    min-height: 16px;
    margin-right: 266px;
    margin-left: 120px;
}

.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 48px;
    width: 150px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 228px;
}

.footer-copyright-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 195px;
    height: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 70px;
}

.container-main {
    position: relative;
}

.filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background: #333333 url("../img/filter_background.jpg") 50% center no-repeat;
}

fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.filters1-wrapper2 legend {
    margin-bottom:  30px;
    padding-top: 27px;
}

.filters1-wrapper2 label {
    margin-bottom:  30px;
}

.filters1-wrapper3 legend {
    margin-bottom:  30px;
    padding-top: 27px;
}

.filters1-wrapper3 label {
    margin-bottom:  30px;
}

.filters1-wrapper4 label.price-per-day {
    margin-bottom:  30px;
    padding-top: 27px;
}

.sort-wrappper1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: baseline;
    -ms-flex-pack: baseline;
    justify-content: baseline;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
}

.sort-wrappper1 b{
    padding-top: 36px;
    padding-bottom: 36px;
    margin-right: 50px;
    margin-left: 73px;
}

.sort-types {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 355px;
    height: 12px;
}

.sorting {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-right: 20px;
}

.sort-wrappper2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 240px;
    height: 12px;
}

.sort-wrappper2 a {
    padding-bottom: 16px;
}

.sort-wrappper3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: 73px;
}


.hotel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    border-bottom: 1px solid #e5e5e5;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 32px 73px;
}

.hotel-padding {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
}

.hotel-item-image1 {
    width: 135px;
    height: 90px;
    background-image: url("../img/amararesort.png");
}

.hotel-item-image2 {
    width: 135px;
    height: 90px;
    background-image: url("../img/desertquail.png");
}

.hotel-item-image3 {
    width: 135px;
    height: 90px;
    background-image: url("../img/villasatpoco.png");
}

.hotel-wrapper1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 91px;
    margin-left: 30px;
}

.hotel-wrapper1 h3 {
    margin: 0;
}

.type-and-price {
    margin-top: 5px;
}

.hotel-button-wrapper1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 8px;
}

.hotel-wrapper2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: auto;
}

.int-map {
    width: 1200px;
    height: 593px;
}

.form-wrapper {
    width:568px;
    margin:auto;
    position: relative;

}

@-webkit-keyframes strench {
    0% {-webkit-transform: translateY(-86px);transform: translateY(-86px); opacity: 0;}
    100% {-webkit-transform: translateY(0);transform: translateY(0); opacity: 1;}
}

@keyframes strench {
    0% {-webkit-transform: translateY(-86px);transform: translateY(-86px); opacity: 0;}
    100% {-webkit-transform: translateY(0);transform: translateY(0); opacity: 1;}
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}
